@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
html{
  font-size: 10px;
  --primary-color:"black";
  --secondary-color:"white";
  --primary-font:1rem;
  --secondary-font:20;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  overflow-x: hidden;
}
.primary-btn{
background-color: black;
}
.secondary-btn{
  background-color: rgb(29, 1, 1);
  }

