#admin-order-status {
    background-color: none;
    border: none;
    outline: none;
    border: none;
    width: 100%;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 1.5rem;
    text-align: center;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: auto;
}

/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: black;
    color: white;
    font-weight: bold;
}

td,
th {
    padding: 10px 0;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 18px;
    text-align: center;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    table {
        width: 100%;
    }

    #admin-order-status {
        text-align: left;
    }

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
        text-align: left;
        font-size: 1.6rem;

    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;

    }

    tr {
        border: 1px solid #ccc;
        margin-top: 1.5rem;
    }

    td {
        /* Behave  like a "row" */
        border: 1px solid rgb(168, 160, 160);
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 35%;

    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        /* Label the data */
        content: attr(data-column);

        color: #000;
        font-weight: bold;
    }

}